<!DOCTYPE html>
<html>
<head>
  <title>Personal</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- wrap starts here -->
	<div id="wrap">

		<!--header -->
		<div id="header">			

			<h1 id="logo-text"><%= link_to "Derek J Hopper", root_path %></h1>		
			<p id="slogan">I'm a web developer with a current focus on <span class="important">Ruby on Rails</span>. I'm currently based in northern Indiana.</p>	
			
			<div class="links">
				<h3><span class="faded">Follow me on</span></h3>
				<ul>
					<li><%= link_to "Github", "https://github.com/djhopper01" %></li>
					<li><%= link_to "My Blog", "http://www.garebaresoftware.com/blog" %></li>
					<li><%= link_to "Twitter", "http://twitter.com/#!/derekjhopper" %></li>
				</ul>
			</div>

		<!--header ends-->					
		</div>

		<!-- featured starts -->	
		<div id="featured" class="clear">
			<a name="TemplateInfo"></a>
			<div class="image-block">
	     	<img src="images/img-featured.jpg" alt="featured"/>
	    </div>			

			<div class="text-block">
				<h2>I help you build stuff</h2>
				<p>
					My goal is to help people get their products from idea to reality. Whether that means building a software prototype or a full custom application, I want to help.
				</p>
				<p>
					I've helped build a JavaScript library for a car (interfaced with a native Python extension and WebSockets). I've built Chrome extensions and Android applications. I love Ruby on Rails and any technology for the web.
				</p>
				<p>
					<a href="mailto:hopper.derek@gmail.com" class="more-link">Email me today</a>
				</p>
			</div>
		<!-- featured ends -->
		</div>	

		<!-- content -->
		<div id="content-outer" class="clear"><div id="content-wrap">

			<div id="content">

				<div id="left">			

					<div class="entry">

						<h3><a href="index.html">Aliquam Risus Justo</a></h3>
						<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
						Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
						posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
						odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra 
						condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. 
						In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
						Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
						posuere nunc justo tempus leo. 				
						</p>

						<p><a class="more-link" href="index.html">continue reading</a></p>

					</div>

					<div class="entry">

						<h3>Lorem Ipsum Dolor Sit Amet</h3>
						<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
						Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
						posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
						odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra 
						condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. 
						In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
						Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
						posuere nunc justo tempus leo. 				
						</p>

						<p><a class="more-link" href="index.html">continue reading</a></p>

					</div>

					<div class="entry">

						<h3>Lorem Ipsum</h3>
						<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
						Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
						posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
						odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra 
						condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. 
						In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
						Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
						posuere nunc justo tempus leo. 				
						</p>

						<p><a class="more-link" href="index.html">continue reading</a></p>

					</div>

				</div>

				<div id="right">

					<div class="sidemenu">	
						<h3>My Products</h3>
						<ul>				
							<li><a href="index.html">Home</a></li>
							<li><a href="index.html#TemplateInfo">TemplateInfo</a></li>
							<li><a href="style.html">Style Demo</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="archives.html">Archives</a></li>
						</ul>	
					</div>

					<div class="sidemenu">
						<h3>My Code</h3>
						<ul>
							<li><a href="http://themeforest.net?ref=ealigam" title="Site Templates">ThemeForest <br />
	                            <span>Site Templates, Web &amp; CMS Themes.</span></a>
	                        </li>
							<li><a href="http://www.4templates.com/?go=228858961" title="Website Templates">4Templates <br />
	                            <span>Low Cost High-Quality Templates</span></a>
	                        </li>
							<li><a href="http://store.templatemonster.com?aff=ealigam" title="Web Templates">TemplateMonster <br />
	                            <span>Delivering the Best Templates on the Net!</span></a>
	                        </li>
							<li><a href="http://graphicriver.net?ref=ealigam" title="Stock Graphics">GraphicRiver <br />
	                            <span>Awesome Stock Graphics</span></a>
	                        </li>
						 	<li><a href="http://www.dreamhost.com/r.cgi?287326|SSHOUT" title="Web Hosting">DreamHost <br />
	                            <span>Premium Webhosting. Use the promocode <strong>sshout</strong> and save <strong>50 USD</strong>. </span></a>
	                        </li>
						</ul>
					</div>

					<div class="sidemenu">
						<h3>My Life</h3>
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>

				</div>		

			</div>	

		<!-- content end -->	
		</div></div>

		<!-- footer starts here -->	
		<div id="footer-outer" class="clear"><div id="footer-wrap">

			<div class="col-a">

				<h3>Image Gallery </h3>					

				<p class="thumbs">
					<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>	
					<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>				
				</p>	

				<h3>Lorem ipsum dolor</h3>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
				Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
				posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
				odio, ac blandit ante orci ut diam. Cras fringilla magna.  
			   </p>			

			</div>

			<div class="col-a">

				<h3>My Daily Reading</h3>

				<p>
					I'd like to share my daily reading with you. My hope is that you'll learn a little more about me based on the content I consume on a daily basis. I've tried to keep these in the order I usually visit in the morning.
				</p>

				<div class="footer-list">
					<ul>
						<% daily_reading.each do |name, info|%>
						<li><%= link_to name, info[:url] %> <span><%=info[:description]%></span></li>
						<% end %>				
					</ul>
				</div>

			</div>		

			<div class="col-b">

				<h3>About</h3>			

				<p>
					<a href="index.html"><img src="/assets/me.jpg" width="64" height="64" class="float-left" /></a>
					I'm a Computer Engineer, hacker, and thinker. Always looking for a new experience. Never satisfied.
				</p>

				<p>
					My goal is to help people succeed. I love to teach. If you work with me and learn something new, that makes me happy.
				</p>			

			</div>		

		<!-- footer ends -->		
		</div></div>

		<!-- footer-bottom starts -->		
		<div id="footer-bottom">
			<div class="bottom-left">
				<p>
					&copy; 2011 - <strong>Derek Hopper</strong> - All Rights Reserved
				</p>
			</div>

		<!-- footer-bottom ends -->		
		</div>

	<!-- wrap ends here -->
	</div>
</body>
</html>
